<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <% include partials/head %>
    
  </head>
  <body style="padding-bottom: 160px;">
    <% include partials/navigation %>
    <div> 
      <grid style="font-size: 20px">
        Esta app es solo una prueba de Node.js con Rutas, en la cual tengo un archivo donde defino mis rutas y al dar click
        en cada opcion me hace la referencia a ese apartado. Tambien hice una pruebas con un footer estatico.
      </grid>
    </div>
    <% include partials/footer %>
  </body>
</html>
