<!-- NAVBAR -->
<nav style="width: 100%; background-color: lightcyan; padding: 20px; margin-bottom: 20px;">
  <div class="container p-2">
    <a class="navbar-brand" href="/"><%= title %></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Bienvenida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AcercaDe"><i class="fas fa-building"></i> Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/framework"><i class="fas fa-envelope"></i> framework</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
